html {
  /* 영문이면 roboto가 적용되고, 한글이면 Noto Sans KR가 적용되도록 아래와 같은 순서로 배치 */
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  background-attachment: fixed;
  min-height: max(100vh, 100%);
}

@font-face {
  font-family: "WandohopeB";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/WandohopeB.woff")
    format("woff");
}

@font-face {
  font-family: "WandohopeR";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/WandohopeR.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font: 14px "WandohopeB", Helvetica, Arial, sans-serif;
}

/* 노말라이즈 */

ul,
li,
h1 {
  margin: 0;
  padding: 0;
  list-style: none;
}

a,
p,
div {
  word-break: keep-all;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  display: inline;
  padding: 0;
  margin: 0;
}

label[for] {
  cursor: pointer;
  user-select: none;
}

.page-1 {
  background-color: rgb(62, 82, 138);
}
.page-2 {
  background-color: rgb(48, 141, 60);
}
#menu {
  z-index: 1;
  position: fixed;
  right: 10px;
  top: 45%;
  color: white;
}

#head {
  z-index: 1;
  width: calc(100% - 6rem);
  display: flex;
  position: fixed;
  top: 0;

  align-items: flex-end;
  justify-content: space-between;
  padding: 3rem;
}

#title {
  color: white;
  font-size: 3rem;
}

#title-link {
  z-index: 1;
  color: rgba(255, 255, 255, 0.623);
  font-size: 1.2rem;
}

.link-item {
  padding: 0 0.5rem;
  height: 3rem;
  color: rgba(255, 255, 255, 0.623);
}

.link-item.selected {
  color: white;
}

.inner-pull {
  padding: 10rem 5rem;
  padding-bottom: 0;
  color: white;
}

a:visited {
  color: white;
  text-decoration: none;
}

.circle {
  background-image: url("./images/circle.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 0.7rem;
  height: 0.7rem;
  margin: 0.2rem;
}

.circle.fill {
  background-image: url("./images/circle-fill.png");
}

/*background image*/
.back {
  background-repeat: no-repeat;
  background-size: cover;
}

.back-1 {
  background-image: url("./images/back1.jpg");
}

.back-2 {
  background-image: url("./images/42.jpg");
}

.back-3 {
  background-image: url("./images/port0.png");
}
.back-4 {
  background-image: url("./images/back4.jpg");
}
.back-6 {
  background-image: url("./images/back6.jpg");
}

/*text size*/
.gray {
  color: rgba(255, 255, 255, 0.85);
}

.text-b1 {
  font-family: "WandohopeB";
  font-size: 4rem;
}
.text-b2 {
  font-family: "WandohopeB";
  font-size: 2rem;
}

.text-b2-5 {
  font-family: "WandohopeB";
  font-size: 1.5rem;
}

.text-b3 {
  font-family: "WandohopeB";
  font-size: 1.2rem;
}
.text-r1 {
  font-family: "WandohopeR";
  font-size: 1.5rem;
}

.text-r2 {
  font-family: "WandohopeR";
  font-size: 1.2rem;
  line-height: 2rem;
}

.text-r2.long {
  line-height: 2.5rem;
}

.text-r3 {
  font-family: "WandohopeR";
  font-size: 1rem;
  line-height: 2.3rem;
}

.short {
  line-height: 1.3rem;
}

.small-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: rgba(0, 0, 0, 0.45);
  width: 90%;
  margin-top: 5vh;
  padding: 2rem;
  border-radius: 1rem;
}

.small-box.white {
  background: rgba(255, 255, 255, 0.25);
}
.small-box.mult {
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  grid-gap: 3rem;
}

.small-text-box {
  margin-top: 1rem;
}

.underline {
  text-decoration: underline;
}

.logo {
  width: 5rem;
  height: 5rem;
  background-color: white;
  border-radius: 5rem;
}
.img-logo {
  height: 6rem;
}

.img-logo.padding {
  height: 4rem;
}

.img-logo.big-padding {
  height: 3rem;
}

.img-logo.round {
  border-radius: 0.5rem;
}

/* icon*/
.icon {
  object-fit: cover;
  width: 2.5rem;
  height: 2.5rem;
  margin: 0 0.5rem;
}

.fit-bottom-box {
  display: flex;
  align-items: flex-end;
}

.change-visibility.invisible {
  color: transparent;
}

.light-gray {
  color: rgba(255, 255, 255, 0.35);
}

.change-visibility {
  -webkit-transition: color 0.5s ease-out;
  -moz-transition: color 0.5s ease-out;
  -o-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}

.scroll-box {
  height: calc(100vh - 17rem);
  overflow-y: auto;
}

.scroll-box.short {
  height: calc(100vh - 22rem);
}

.scroll-box::-webkit-scrollbar {
  width: 8px;
}

/* scrollbar itself */
.scroll-box::-webkit-scrollbar-thumb {
  background-color: #ffffff3a;
  border-radius: 8px;
}

.text-btn {
  position: relative;
  top: -10%;
}
